.my-component {
  background: #fff;
}

.fullscreen-enabled .my-component {
  background: rgb(6, 0, 56);
}
.question_body{
  width:100vw;
  position: fixed;
}
.question-header {
  padding: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #080c11;
  color: white ;
}
.question-header img{
  width:90px;
  height: 50px;
}
.question-bar{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.question-time{
  margin-right: 40px;
  display: flex;
}
.submit-button{
  padding: 10px;
  border-radius: 10px;
  border-radius: 1px solid rgb(107, 255, 107);
  border-color: rgb(107, 255, 107);
  color: rgb(107, 255, 107);
  background-color: transparent;
}
.submit-button:hover{
  color: rgb(0, 212, 0);
  border-color: rgb(4, 175, 4);
}
.question-body{
  display: flex;
}
.question-body-sidebar{
  width: 50px;
  padding: 10px;
  color: #fff;
  background-color: #080c11;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.question-body-main{
  width:100vw;
  padding: 10px;
  color: #fff;
  background-color: black;
}
