#show-page .container{
    position: fixed;
    width: 100%;
    height: 100vh !important;
    background: url('https://images.unsplash.com/photo-1516397281156-ca07cf9746fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#show-page .container .container-text{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    padding:50px;
    max-width:55%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    color: black;
}
#show-page .container .container-text h1{
    margin-bottom: 10px;
}
#show-page .container .container-text button{
    width: 100px;
    padding: 5px;
    background-color: tomato;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    border-color: rgb(255, 255, 255);
    font-weight: bold;
}